/* smokum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Smokum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/smokum/smokum-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/smokum/smokum-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/smokum/smokum-v24-latin-regular.woff2") format("woff2"), url("../fonts/smokum/smokum-v24-latin-regular.woff") format("woff"), url("../fonts/smokum/smokum-v24-latin-regular.ttf") format("truetype"), url("../fonts/smokum/smokum-v24-latin-regular.svg#Smokum") format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Smokum", cursive;
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

#screen {
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: black;
}

img {
  width: 100%;
  height: 100%;
}

#screen-canvas, #start-screen, #endscreen {
  width: 720px;
  height: 480px;
}

#start-screen {
  position: relative;
}

.btn-container {
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-none {
  background-color: transparent;
  border: none;
}

.btn-game {
  background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0));
  border-style: none;
  font-size: 32px;
  text-shadow: 0px 0px rgb(159, 207, 250);
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.btn-game:hover, .btn-controller:hover {
  transform: scale(1.2);
  transition: all ease-in-out 175ms;
}

.btn-game:active, .btn-controller:active {
  transition: none;
  border-style: inset;
}

.btn-controller {
  background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0));
  border-style: none;
  font-size: 32px;
  text-shadow: 0px 0px rgb(159, 207, 250);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#controller-div {
  width: calc(100% - 100px);
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
}

.controller {
  display: flex;
  gap: 25px;
}

#options-div {
  width: calc(100% - 50px);
  padding: 0 25px;
  top: 25px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#rotateDevice-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-device {
  width: 150px;
  filter: drop-shadow(0px 0px 5px white);
}

.rotate-device {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
.txt-device {
  font-size: 32px;
  font-weight: bolder;
  text-shadow: 0px 0px 5px white;
}

.p-absolute {
  position: absolute;
}

.p-rel {
  position: relative;
}

.pos-b-start {
  bottom: 15px;
}

.pos-b-restart {
  bottom: 80px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.box-shadow {
  box-shadow: 0 0 5px #000;
}

.color-w {
  color: rgb(0, 0, 0);
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}