.p-absolute{
    position: absolute;
  }
.p-rel{
  position: relative;
}
.d-flex{
  display: flex;
}
.d-none{
    display: none;
}
.box-shadow{
  box-shadow: 0 0 5px #000;
}

.color-w{
  color: rgb(0, 0, 0);
}