.p-absolute{
    position: absolute;
  }
.p-rel{
  position: relative;
}
.pos-b-start{
  bottom: 15px;
}
.pos-b-restart{
  bottom: 80px;
}
.d-flex{
  display: flex;
}
.d-none{
    display: none;
}
.box-shadow{
  box-shadow: 0 0 20px #000;
}

.color-w{
  color: rgb(0, 0, 0);
}
.icon-40{
  width: 40px;
  height: 40px;
}
.icon-48{
  width: 48px;
  height: 48px;
}