#rotateDevice-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-device{
  width: 150px;
  filter: drop-shadow(0px 0px 5px white);
}

.rotate-device{
    animation: spin 3s linear infinite;
}

@keyframes spin{
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(90deg);
  }
  75%{
    transform: rotate(0deg);
  }
}

.txt-device{
  font-size: 32px;
  font-weight: bolder;
  text-shadow: 0px 0px 5px white;
}
