*{
  margin: 0;
  padding: 0;
  font-family: 'Smokum', cursive;
}
body{
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  width: 100dvw;
  height: 100dvh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(5px);
}

canvas{
  background-color: black;
}

img{
  width: 100%;
  height: 100%;
}

#screen-canvas, #start-screen, #endscreen-win, #endscreen-lost{
  width: 720px;
  height: 480px;
}

#start-screen{
  position: relative;
}

.btn-container{
  position: absolute;
  bottom: 10px;

  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0));
  padding: 2px 10px;
  border-radius: 10px;
  border-style: none;
  font-weight: bolder;
  font-size: 32px;
  text-shadow: 0px 0px  rgb(159, 207, 250);
}
button:hover{
  transform: scale(1.2);
  transition: all ease-in-out 175ms;
}
button:active{
  transition: none;
  border-style: inset;
}