* {
  margin: 0;
  padding: 0;
  font-family: "Smokum", cursive;
  letter-spacing: 1px;
  text-shadow: 0px 0px rgb(159, 207, 250);
}
body {
  width: 100dvw;
  height: 100dvh;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  filter: blur(5px);
}

.screen {
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: black;
}

img {
  width: 100%;
  height: 100%;
}

#screen-canvas,
#start-screen,
#endscreen {
  width: 720px;
  height: 480px;
}
#instruction{
  z-index: 50;
  width: 100%;
  height: 100%;
}
#start-screen {
  position: relative;
}

.btn-container {
  position: absolute;

  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-none {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.btn-game {
  background-image: linear-gradient(
    rgb(255, 136, 0),
    #fffb00,
    rgb(255, 136, 0)
  );
  border-style: none;
  font-size: 32px;
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.btn-game:hover,
.btn-controller:hover,
.btn-options:hover {
  transform: scale(1.2);
  transition: all ease-in-out 175ms;
}
.btn-game:active,
.btn-controller:active,
.btn-options:active{
  transition: none;
  border-style: inset;
}
.btn-controller {
  background-image: linear-gradient(
    rgb(255, 136, 0),
    #fffb00,
    rgb(255, 136, 0)
  );
  border-style: none;
  font-size: 32px;
  text-shadow: 0px 0px rgb(159, 207, 250);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#controller-div {
  width: calc(100% - 100px);
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
}
.controller {
  display: flex;
  gap: 25px;
}
#menu-div {
  width: calc(100% - 50px);
  padding: 0 25px;
  top: 25px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
#options-div{
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#options {
  width: 50%;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px;
  background-color: rgba(233, 133, 18, 1);
  border: solid 5px rgba(255, 234, 3, 1);
  border-radius: 10px;
  font-size: 24px;
  font-weight: bolder;
  backdrop-filter: blur(4px);
}
.btn-options{
  background-image: linear-gradient(
    rgb(255, 136, 0),
    #fffb00,
    rgb(255, 136, 0)
  );
  border-style: none;
  font-size: 24px;
  text-shadow: 0px 0px rgb(159, 207, 250);
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.label{
  white-space: nowrap;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider {
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
input[typ=checkbox]{
  cursor: pointer;
}
input.largerBox{
  height: 70%;
  aspect-ratio: 1;
}